{% extends './layout/layout.twig' %}

{% block banner %}

<div class="row">
  <div class="banner-hero">
    <div class="l-section-title">
      <h1>Les 24h des DUT informatique</h1>
      <p class="l-p">Les 24h des IUT informatiques regroupent, chaque année, des étudiants de tous les IUT de France afin qu'ils concourent durant des épreuves testant leurs talents de programmeurs</p>
      <p class="l-sub-title l-space-top l-paragraph-divider" id="countdown-end--time">Soyez prêts</p>
    </div>
  </div>
</div>

{% include './home/countdown.twig' %}


{% endblock banner %}


{% block content %}
  <section class="l-section l-section-light sponsors">
    <div class="l-section-title">
      <h1 class="l-title sponsors-title paragraph-divider">Nos partenaires</h1>
    </div>
  </section>
{% endblock content %}
