{% extends './layout/layout.twig' %}

{% block content %}
  <section class="sponsors l-section">
    <div class="l-title">
      <h1 class="strong-title sponsors-title paragraph-divider">Les sponsors</h1>
    </div>
  </section>

  <footer class="l-footer l-section-dark">
    <div class="row section">
      <div class="l-footer-block">
        <div class="l-title">
          <p class="l-footer-block-title paragraph-divider">Rester connecté</p>
        </div>
        <form method="POST" action="#">
          <div class="field field-animated">
            <label for="email" class="field-label">Inscrivez-vous à notre newsletters</label>
            <input type="email" name="email" id="email" class="field-input">
          </div>
        </form>
      </div>
      <div class="l-footer-block">

      </div>
      <div class="l-footer-block">

      </div>
    </div>
  </footer>
{% endblock content %}
