{% extends './layout/layout.twig' %}

{% block banner %}
  <div class="l-section-title">
    <h1>Les 24h des DUT informatique</h1>
    <p class="l-p">Si vous aimez la programmation, les défis et voulez vous mesurer à d'autres passionnés</p>
    <p class="l-sub-title l-space-top l-paragraph-divider">Il est temps de s'inscrire</p>
  </div>
    {% include './home/countdown.twig' %}
{% endblock banner %}

{% block content %}

  {% import "./macro/form.twig" as form %}

  <div class="l-section l-section-light">
    <div class="row inscription-wrapper">

      <section class="inscription-section inscription-form">
        <div class="l-section-title">
          <h2 class="l-title l-paragraph-divider">Formulaire d'inscription</h2>
        </div>
        <form action="#" method="POST" class="row">

          <div class="form-group-2 row">
            {{ form.field('text', 'Prénom', null, 'first_name', 'first_name') }}
            {{ form.field('text', 'Nom', null, 'last_name', 'last_name') }}
          </div>

          {{ form.field('email', 'Email', null, 'email', 'email') }}

          <div class="field field-animated">
            <label for="iut" class="field-label">Votre IUT</label>
            <select id="iut" name="select" class="field-input field-select">
              <option value="valeur1">Valeur 1</option>
              <option value="valeur2" selected>Valeur 2</option>
              <option value="valeur3">Valeur 3</option>
            </select>
          </div>

          <div class="field field-textarea">
            <label class="field-label" for="message">Message</label>
            <textarea class="field-input" for="message" id="message"></textarea>
          </div>

          <button class="l-btn l-btn--light l-back-animated-scale" type="submit" value="Envoyer">S'inscrire</button>

        </form>
      </section>

      <section class="inscription-section inscription-info">
        <div class="l-section-title">
          <h2 class="l-title l-paragraph-divider">Modalités d'inscription</h2>
        </div>
        <p class="l-p">Votre demande d'inscription, puis votre inscription effective, vous seront confirmées chacune par email. </p>

        <ul class="inscription-info-list">
          <li class="inscription-info-item">Les frais d'inscription sont de 12 euros.</li>
          <li class="inscription-info-item">Avoir sa carte étudiant</li>
          <li class="inscription-info-item">30 équipes peuvent participer, mais seules deux équipes par IUT sont admises</li>

        </ul>

        
      </section>
    </div>
  </div>
{% endblock content %}