.l-footer-block {
  border-right: 1px solid darken($background-dark, 10%);

  @include grid-column(12);
}

@include breakpoint(medium) {
  .l-footer-block {
    @include grid-column(4);
  }
}

.l-footer:first-child {
  border-left: 1px solid darken($background-dark, 10%);
}

.l-footer-socials {
  @include grid-column(7);
  @include grid-column-position(center);
}

.l-footer-socials-box {
  position: relative;
  display: inline-block;

  @include grid-column(4);
  svg {
    width: 100%;
    height: 30px;
  }
}

.l-footer-block-title {
  font-size: 1.5rem;
}

.l-footer-content {
  margin-top: 30px;
}