@import "../libs/bower_components/foundation-sites/scss/foundation";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

@import "./_header.scss";
@import "../_variables.scss";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  // background: #192242;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: mediumvioletred; // TODO: à enlever pour la prod
}

h1 {
  margin: .2em 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.l-section-title {
  text-align: center;
}

.l-title {
  // color: red;
}

.l-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.l-space-top {
  padding-top: 30px;
}

.l-section-light {
  background-color: $background-light;
}

.l-section-dark {
  background-color: $background-dark;
}

.l-sub-section {
  padding-top: 35px;
}

.l-title {
  text-align: center;
}

/** FOOTER **/

@import "./_footer.scss";

/** paragraph divider **/

$paragraph-divider-space: 15px; // L'espace entre le texte et la barre

.l-paragraph-divider {
  position: relative;
  display: inline-block;
  margin-bottom: $paragraph-divider-space;
}

.l-paragraph-divider::after {
  position: absolute;
  right: 0;
  bottom: -$paragraph-divider-space;
  left: 0;
  height: 1px;
  content: '';
  background-color: $divider-color;
}
