@import "../libs/bower_components/foundation-sites/scss/foundation";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

@import "../_variables.scss";
@import "./_title.scss";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: mediumvioletred; // TODO: à enlever pour la prod
}

.l-box {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
}

.l-btn {
  padding: 10px 25px;
  font-size: 16px;
  color: #fff;
  border: none;
}

.l-btn--light {
  background-color: $blue-light;
}

.l-section {
  padding-top: 30px;
  padding-bottom: 30px;

  @include breakpoint(medium) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.l-space-top {
  padding-top: 30px;
}

.l-section-light {
  background-color: $background-light;
}

.l-section-dark {
  background-color: $background-dark;
}

.l-sub-section {
  padding-top: 35px;
}

/** FOOTER **/

@import "./_footer.scss";

/** paragraph divider **/

$paragraph-divider-space: 15px; // L'espace entre le texte et la barre

.l-paragraph-divider {
  position: relative;
  display: inline-block;
  margin-bottom: $paragraph-divider-space;
}

.l-paragraph-divider::after {
  position: absolute;
  right: 0;
  bottom: -$paragraph-divider-space;
  left: 0;
  height: 1px;
  content: '';
  background-color: $divider-color;
}
