<footer class="l-section l-section--footer l-section-dark">
    <div class="l-footer row">

      <div class="l-footer-block">
        <div class="l-title">
          <p class="l-footer-block-title paragraph-divider">Rester connecté</p>
        </div>

        <form class="l-footer-form" method="POST" action="#">
          <div class="field field-animated">
            <label for="email" class="field-label">Inscrivez-vous à notre newsletters</label>
            <input type="email" name="email" id="email" class="field-input">
          </div>
        </form>

        <div class="l-footer-socials row section">

          <a href="#facebook" class="l-footer-socials-box">
            <svg class="icon icon--facebook">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
          <a href="#twitter" class="l-footer-socials-box">
            <svg class="icon icon--twitter">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </a>
          <a href="#youtube" class="l-footer-socials-box">
            <svg class="icon icon--youtube">
              <use xlink:href="#icon-youtube"></use>
            </svg>
          </a>

        </div>

      </div>
      <div class="l-footer-block">
        <div class="l-title">
          <p class="l-footer-block-title paragraph-divider">IUT de Calais</p>
        </div>
        <div class="l-footer-content">
          <ul>
            <li>Adresse: Rue Louis David 62228 Calais cedex</li>
            <li>Email: emixmaxime@outlook.fr</li>
            <li>N° de téléphone: 03 21 19 06 00</li>
            <li>
              <a target="_blank" href="http://www.iut.univ-littoral.fr/">Site de l'IUT</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="l-footer-block">
        <div class="l-title">
          <p class="l-footer-block-title paragraph-divider">À propos</p>

        </div>
        <div class="l-footer-content">
          <p>Ce site a été développé par un groupe d'étudiant en DUT Informatique à Calais. 30 heures et moult cafés plus tard, voici ce site.</p>
        </div>

      </div>

      <div class="l-footer-bottom">
        <p>
          Made with <svg class="icon icon--heart"><use xlink:href="#icon-heart"></use></svg> by <a href="#emixteam">Emixteam</a> </p>
      </div>
    </div>
</footer>