<footer class="l-section l-section-dark">
    <div class="l-footer row">

      <div class="l-footer-block">
        <div class="l-title">
          <p class="l-footer-block-title paragraph-divider">Rester connecté</p>
        </div>

        <form class="l-footer-form" method="POST" action="#">
          <div class="field field-animated">
            <label for="email" class="field-label">Inscrivez-vous à notre newsletters</label>
            <input type="email" name="email" id="email" class="field-input">
          </div>
        </form>

        <div class="l-footer-socials row section">
          <a href="#facebook" class="l-footer-socials-box">
            <svg class="icon icon--facebook">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
          <a href="#twitter" class="l-footer-socials-box">
            <svg class="icon icon--twitter">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </a>
          <a href="#youtube" class="l-footer-socials-box">
            <svg class="icon icon--youtube">
              <use xlink:href="#icon-youtube"></use>
            </svg>
          </a>
        </div>

      </div>
      <div class="l-footer-block">
        <div class="l-title">
          <p class="l-footer-block-title paragraph-divider">Informations pratiques</p>
        </div>
        <div class="l-footer-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolores vero, eligendi veritatis voluptates nesciunt neque, ducimus tempore consequatur porro. Incidunt officia, dignissimos laboriosam dolores quibusdam. Earum, repellendus dicta quam.</p>
        </div>

      </div>
      <div class="l-footer-block">
        <div class="l-title">
          <p class="l-footer-block-title paragraph-divider">IUT de Calais</p>
        </div>
        <div class="l-footer-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolores vero, eligendi veritatis voluptates nesciunt neque, ducimus tempore consequatur porro. Incidunt officia, dignissimos laboriosam dolores quibusdam. Earum, repellendus dicta quam.</p>
        </div>
      </div>
    </div>
</footer>