<div class="l-section-light">
  <header class="header">
    <nav class="topbar">
      <ul class="topbar-menu topbar--left">
        <li class="topbar-li"><a href="#" class="topbar-link">Accueil</a></li>
        <li class="topbar-li"><a href="#" class="topbar-link">Epreuves</a></li>
        <li class="topbar-li"><a href="#" class="topbar-link">Participants</a></li>
        <li class="topbar-li"><a href="#" class="topbar-link">Planning</a></li>
      </ul>
      <div class="topbar-logo">
        <img src="logosite.png" alt="">
      </div>
      <ul class="topbar-menu topbar--right">
        <li class="topbar-li"><a class="topbar-link topbar--action topbar--travel" href="">Préparer ses 24h</a></li>
        <li class="topbar-li"><a class="topbar-link topbar--action topbar--signin" href="">Inscription</a></li>
      </ul>
    </nav>
  </header>
</div>
