<div class="l-section-light">
  <header class="header">
    <a id="topbar-trigger" class="topbar-trigger" href="#"></a>
    <div class="topbar-logo">
      <img src="logosite.png" alt="">
    </div>
    <nav class="topbar topbar-nav" id="topbar-menu">
      <ul class="topbar-menu topbar--left">
        <li class="topbar-li"><a href="index.html" class="topbar-link topbar-link--animated">Accueil</a></li>
        <li class="topbar-li"><a href="participant.html" class="topbar-link topbar-link--animated">Participants</a></li>
        <li class="topbar-li"><a href="epreuve.html" class="topbar-link topbar-link--animated">Épreuves</a></li>
        <li class="topbar-li"><a href="planning.html" class="topbar-link topbar-link--animated">Planning</a></li>
      </ul>
      <ul class="topbar-menu topbar--right">
        <li class="topbar-li"><a class="topbar-link l-back-animated-scale topbar--action" href="prepare.html">Préparer ses 24h</a></li>
        <li class="topbar-li"><a class="topbar-link l-back-animated-scale topbar--action" href="inscription.html">Inscription</a></li>
      </ul>
    </nav>
  </header>
</div>
