<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Les 24h</title>
  <!-- <link rel="stylesheet" href="css/index.css"> -->
  <!-- <link rel="stylesheet" href="css/main.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
</head>
<body>
  {% include '../../svg/symbol-defs.twig' %}
  {% include './header.twig' %}

<div class="l-section l-section-dark">
  <section class="banner row">
    {% block banner %}

    {% endblock banner %}
  </section>

</div>


  {% block content %}
  {% endblock %}

  {% include "./footer.twig" %}

</body>
</html>
