<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Les 24h</title>
  <!-- <link rel="stylesheet" href="css/index.css"> -->
  <!-- <link rel="stylesheet" href="css/main.css"> -->
</head>
<body>
  {% include './header.twig' %}

  {% block content %}
  {% endblock %}
  {#<div class="navigation-wrapper" id="navigation">
    <nav class="menu">
      <ul>
        <li class="menu-list">
          <span class="menu-line"></span>
          <a class="menu-link" href="#">
            <span class="menu-bullet"></span>
            <span class="menu-text">Epreuves</span>
          </a>
          <span class="menu-line"></span>
        </li>
        <li class="menu-list">
          <a class="menu-link" href="#">
            <span class="menu-bullet"></span>
            <span class="menu-text">Epreuves</span>
          </a>
        </li>
        <li class="menu-list">
          <a class="menu-link" href="#">
            <span class="menu-bullet"></span>
            <span class="menu-text">Epreuves</span>
          </a>
        </li>
        <li class="menu-list">
          <a class="menu-link" href="#">
            <span class="menu-bullet"></span>
            <span class="menu-text">Epreuves</span>
          </a>
        </li>
        <li class="menu-list">
          <a class="menu-link" href="#">
            <span class="menu-bullet"></span>
            <span class="menu-text">Epreuves</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>#}



  <!--<footer class="site-container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nihil expedita et, quaerat, totam eius eligendi? Debitis nisi magni fugit fugiat numquam, explicabo mollitia ipsum earum. Quasi iure voluptas minus!</p>
  </footer>-->
  <script src="js/main.js"></script>
</body>
</html>
