<div class="countdown l-space-top row">
    <div class="countdown-wrapper">
        <div class="countdown-box">
            <span class="countdown-box-time" id="countdown-days">45</span>
            <span class="countdown-box-desc">jours</span>
        </div>
    </div>

    <div class="countdown-wrapper">
        <div class="countdown-box">
            <span class="countdown-box-time" id="countdown-hours">5</span>
            <span class="countdown-box-desc">heures</span>
        </div>
    </div>

    <div class="countdown-wrapper">
        <div class="countdown-box">
            <span class="countdown-box-time" id="countdown-minutes">25</span>
            <span class="countdown-box-desc">minutes</span>
        </div>
    </div>

    <div class="countdown-wrapper">
        <div class="countdown-box">
            <span class="countdown-box-time"  id="countdown-seconds">25</span>
            <span class="countdown-box-desc">secondes</span>
        </div>
    </div>

</div>