@import "main.scss";
@import "../libs/bower_components/foundation-sites/scss/foundation";
@import "./_countdown.scss";
// @include foundation-global-styles

@import url('https://fonts.googleapis.com/css?family=Raleway');

.header-text {
  text-align: center;

  @include grid-column(12);
}

.header-description {
  display: inline-block;
  font-size: 2em;
}

/*
ANIMATION À L'ENTRÉE
 */

.animated-come-top {
  transition: transform .3s;
  transform: translateY(-15px);
}

.animated-come-bottom {
  transition: transform .3s;
  transform: translateY(15px);
}

.showed {
  transform: translateY(0);
}
