// @import "main.scss";
@import "../libs/bower_components/foundation-sites/scss/foundation";

.header-text {
  text-align: center;

  @include grid-column(12);
}

.header-description {
  display: inline-block;
  font-size: 2em;
}

/*
ANIMATION À L'ENTRÉE
 */

//$animation-y: 25px;
//
//.animate-show {
//  opacity: 0;
//}
//
//.animated-come-top {
//  position: relative;
//  top: -$animation-y;
//  transform: translateY(0);
//  transition: opacity .3s, transform .3s;
//}
//
//.animated-come-bottom {
//  position: relative;
//  top: $animation-y;
//  transition: opacity .3s, transform .3s;
//  transform: translateY(0);
//}
//
//.showed {
//  opacity: 1;
//}
//
//.animated-come-top.showed {
//  transform: translateY($animation-y);
//}
//.animated-come-bottom.showed {
//  transform: translateY(-$animation-y);
//}
