// @import "main.scss";
@import "../libs/bower_components/foundation-sites/scss/foundation";

.inscription-info-list {
  padding-left: 40px;
  margin-top: 10px;
}

.inscription-info p {
  margin-top: 15px;
}

.inscription-info-item {
  list-style: initial;
}

.inscription-section {
  @include grid-column(12);
  @include breakpoint(medium) {
    @include grid-column(6);
  }
}

.form-group-2 > div {
  @include grid-column(6);
}
